*.gz filter=lfs diff=lfs merge=lfs -text
*.warc filter=lfs diff=lfs merge=lfs -text
*.arc filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
/testdata/** filter=lfs diff=lfs merge=lfs -text
