:root {
  --ifm-color-primary: #2f5fa7;
  --ifm-color-primary-dark: #2a5696;
  --ifm-color-primary-darker: #28518d;
  --ifm-color-primary-darkest: #214375;
  --ifm-color-primary-light: #3568b8;
  --ifm-color-primary-lighter: #386dc1;
  --ifm-color-primary-lightest: #447ece;
}
