name: github pages

on:
  push:
  release:
    types: [published]

jobs:
  deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
          lfs: true

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Generate documentation
        run: go generate ./docs

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.124.1'
          extended: true

      - name: Build
        run: hugo --minify --source docs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/public
