name: Main

on: [push]

permissions:
  contents: write

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - uses: actions/checkout@v4
        with:
          lfs: true
      - uses: golangci/golangci-lint-action@v7
        with:
          version: latest

  test:
    name: go test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - run: go test ./...

  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Detect snapshot
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        run: echo "flags=--snapshot" >> $GITHUB_ENV
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean ${{ env.flags }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # This should have been a matrix, but building separate targets is a paid feature in `goreleaser`
      - uses: actions/upload-artifact@v4
        with:
          name: darwin-x86_64
          path: dist/warchaeology_Darwin_x86_64*.tar.gz
      - uses: actions/upload-artifact@v4
        with:
          name: linux-x86_64
          path: dist/warchaeology_Linux_x86_64.tar.gz
      - uses: actions/upload-artifact@v4
        with:
          name: linux-i386
          path: dist/warchaeology_Linux_i386.tar.gz
      - uses: actions/upload-artifact@v4
        with:
          name: windows-x86_64
          path: dist/warchaeology_Windows_x86_64.zip
      - uses: actions/upload-artifact@v4
        with:
          name: windows-i386
          path: dist/warchaeology_Windows_i386.zip
      - uses: actions/upload-artifact@v4
        with:
          name: deb-amd64
          path: dist/warchaeology_*amd64.deb
      - uses: actions/upload-artifact@v4
        with:
          name: deb-i386
          path: dist/warchaeology_*i386.deb
      - uses: actions/upload-artifact@v4
        with:
          name: rpm-x86_64
          path: dist/warchaeology-*x86_64.rpm
      - uses: actions/upload-artifact@v4
        with:
          name: rpm-i386
          path: dist/warchaeology-*i386.rpm
